<a href="https://colab.research.google.com/github/sasansharifipour/Spark_Class/blob/main/Hive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop2.7.tgz
!tar xf spark-3.0.1-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop2.7"

import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

sc = spark.sparkContext

In [3]:
from pyspark.sql import Row
from pyspark.sql import HiveContext

hiveContext = HiveContext(sc)

In [4]:
names = [('Ali', 25), ('Mohamad', 40), ('Reza', 50), ('Hasan', 32)]

In [5]:
rdd = sc.parallelize(names)

In [6]:
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))

In [7]:
people

PythonRDD[1] at RDD at PythonRDD.scala:53

In [8]:
schema_people = hiveContext.createDataFrame(people)

In [10]:
schema_people

DataFrame[name: string, age: bigint]

In [11]:
hiveContext.registerDataFrameAsTable(schema_people, "people")

In [ ]:
hiveContext.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|        |   people|       true|
+--------+---------+-----------+

In [13]:
hiveContext.sql("select * from people").show()

+-------+---+
|   name|age|
+-------+---+
|    Ali| 25|
|Mohamad| 40|
|   Reza| 50|
|  Hasan| 32|
+-------+---+

In [14]:
hiveContext.sql("select * from people where age > 32").show()

+-------+---+
|   name|age|
+-------+---+
|Mohamad| 40|
|   Reza| 50|
+-------+---+

In [15]:
hiveContext.sql("select * from people order by age").show()

+-------+---+
|   name|age|
+-------+---+
|    Ali| 25|
|  Hasan| 32|
|Mohamad| 40|
|   Reza| 50|
+-------+---+

In [16]:
hiveContext.sql("select * from people order by age desc").show()

+-------+---+
|   name|age|
+-------+---+
|   Reza| 50|
|Mohamad| 40|
|  Hasan| 32|
|    Ali| 25|
+-------+---+

In [17]:
sc.stop()
spark.stop()