<a href="https://colab.research.google.com/github/sasansharifipour/Spark_Class/blob/main/SPARK_CC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.0.2/spark-3.0.2-bin-hadoop2.7.tgz
!tar xf spark-3.0.2-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.2-bin-hadoop2.7"

import findspark
findspark.init()

In [7]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [10]:
df = spark.sparkContext.textFile("paper_graph_adj_list.txt")

In [56]:
temp_var = df.map(lambda k: k.split(" "))

In [57]:
data = temp_var.map(lambda k : (k[0], k[1::]))

In [58]:
def calc_cc(key, value):

  result = []
  cnt = len(value)

  for i in range(cnt):
    for j in range(i + 1, cnt):
      if (value[i] < value[j]):
        result.append( ((value[i], value[j]), key))
      else:
        result.append( ((value[j], value[i]), key))

  return result

In [59]:
cc_reduce = data.flatMap(lambda x: calc_cc(x[0], x[1]))

In [60]:
cc_reduce.groupByKey().map(lambda x : (x[0], list(x[1]))).collect()

[(('D', 'F'), ['A', 'C']),
 (('D', 'E'), ['B']),
 (('A', 'B'), ['C', 'D']),
 (('A', 'F'), ['C']),
 (('A', 'D'), ['C']),
 (('A', 'G'), ['C', 'F']),
 (('B', 'F'), ['C']),
 (('B', 'D'), ['C', 'E']),
 (('B', 'G'), ['C']),
 (('F', 'G'), ['C']),
 (('D', 'G'), ['C']),
 (('A', 'E'), ['D']),
 (('B', 'E'), ['D']),
 (('J', 'K'), ['E']),
 (('A', 'H'), ['F']),
 (('A', 'I'), ['F']),
 (('G', 'H'), ['F']),
 (('G', 'I'), ['F']),
 (('H', 'I'), ['F']),
 (('F', 'I'), ['H']),
 (('F', 'H'), ['I']),
 (('C', 'D'), ['A', 'B']),
 (('C', 'F'), ['A', 'G']),
 (('C', 'E'), ['B', 'D']),
 (('A', 'C'), ['D', 'F']),
 (('B', 'C'), ['D']),
 (('B', 'J'), ['E']),
 (('B', 'K'), ['E']),
 (('D', 'J'), ['E']),
 (('D', 'K'), ['E']),
 (('C', 'G'), ['F']),
 (('C', 'H'), ['F']),
 (('C', 'I'), ['F']),
 (('E', 'K'), ['J']),
 (('E', 'J'), ['K'])]

In [249]:
def calc_car(key, value):

  result = []

  cnt = len(value)

  for i in range(cnt):
    for j in range(i + 1, cnt):
      for k in range(j +1, cnt):
        
        if (key < value[k]):
          first_data = (key, value[k])
        else:
          first_data = (value[k], key)

        if (value[i] < value[j]):
          second_data = (value[i], value[j])
        else:
          second_data = (value[j], value[i])
    
        result.append( (second_data , (first_data, 1)))

        if (key < value[j]):
          first_data = (key, value[j])
        else:
          first_data = (value[j], key)

        if (value[i] < value[k]):
          second_data = (value[i], value[k])
        else:
          second_data = (value[k], value[i])
    
        result.append( (second_data , (first_data, 1)))
        
        if (key < value[i]):
          first_data = (key, value[i])
        else:
          first_data = (value[i], key)

        if (value[k] < value[j]):
          second_data = (value[k], value[j])
        else:
          second_data = (value[j], value[k])
    
        result.append( (second_data , (first_data, 1)))
  return result

In [250]:
car_reduce = data.flatMap(lambda x: calc_car(x[0], x[1]))

In [251]:
grouped = car_reduce.groupByKey().map(lambda x : (x[0], list(x[1])))

In [252]:
grouped.collect()

[(('D', 'F'),
  [(('A', 'C'), 1), (('A', 'C'), 1), (('B', 'C'), 1), (('C', 'G'), 1)]),
 (('D', 'E'), [(('B', 'C'), 1)]),
 (('A', 'B'),
  [(('C', 'F'), 1),
   (('C', 'D'), 1),
   (('C', 'G'), 1),
   (('C', 'D'), 1),
   (('D', 'E'), 1)]),
 (('A', 'F'), [(('B', 'C'), 1), (('C', 'D'), 1), (('C', 'G'), 1)]),
 (('B', 'F'), [(('A', 'C'), 1), (('C', 'D'), 1), (('C', 'G'), 1)]),
 (('A', 'D'), [(('B', 'C'), 1), (('C', 'F'), 1), (('C', 'G'), 1)]),
 (('B', 'D'),
  [(('A', 'C'), 1),
   (('C', 'F'), 1),
   (('C', 'G'), 1),
   (('E', 'J'), 1),
   (('E', 'K'), 1)]),
 (('A', 'G'),
  [(('B', 'C'), 1),
   (('C', 'F'), 1),
   (('C', 'D'), 1),
   (('C', 'F'), 1),
   (('F', 'H'), 1),
   (('F', 'I'), 1)]),
 (('B', 'G'), [(('A', 'C'), 1), (('C', 'F'), 1), (('C', 'D'), 1)]),
 (('F', 'G'), [(('A', 'C'), 1), (('B', 'C'), 1), (('C', 'D'), 1)]),
 (('D', 'G'), [(('A', 'C'), 1), (('B', 'C'), 1), (('C', 'F'), 1)]),
 (('A', 'E'), [(('B', 'D'), 1), (('C', 'D'), 1)]),
 (('B', 'E'), [(('A', 'D'), 1), (('C', 'D'), 1)]),
 (('J', 'K'), [(('B', 'E'), 1), (('D', 'E'), 1)]),
 (('A', 'H'), [(('C', 'F'), 1), (('F', 'G'), 1), (('F', 'I'), 1)]),
 (('A', 'I'), [(('C', 'F'), 1), (('F', 'G'), 1), (('F', 'H'), 1)]),
 (('G', 'H'), [(('A', 'F'), 1), (('C', 'F'), 1), (('F', 'I'), 1)]),
 (('G', 'I'), [(('A', 'F'), 1), (('C', 'F'), 1), (('F', 'H'), 1)]),
 (('H', 'I'), [(('A', 'F'), 1), (('C', 'F'), 1), (('F', 'G'), 1)]),
 (('C', 'D'), [(('A', 'F'), 1), (('B', 'E'), 1)]),
 (('C', 'F'), [(('A', 'D'), 1)]),
 (('C', 'E'), [(('B', 'D'), 1), (('A', 'D'), 1), (('B', 'D'), 1)]),
 (('A', 'C'),
  [(('B', 'D'), 1),
   (('D', 'E'), 1),
   (('F', 'G'), 1),
   (('F', 'H'), 1),
   (('F', 'I'), 1)]),
 (('B', 'C'), [(('A', 'D'), 1), (('D', 'E'), 1)]),
 (('B', 'J'), [(('D', 'E'), 1), (('E', 'K'), 1)]),
 (('D', 'J'), [(('B', 'E'), 1), (('E', 'K'), 1)]),
 (('B', 'K'), [(('D', 'E'), 1), (('E', 'J'), 1)]),
 (('D', 'K'), [(('B', 'E'), 1), (('E', 'J'), 1)]),
 (('C', 'G'), [(('A', 'F'), 1), (('F', 'H'), 1), (('F', 'I'), 1)]),
 (('C', 'H'), [(('A', 'F'), 1), (('F', 'G'), 1), (('F', 'I'), 1)]),
 (('C', 'I'), [(('A', 'F'), 1), (('F', 'G'), 1), (('F', 'H'), 1)])]

In [253]:
def Convert(lst):
  result = {}

  for item in lst:
    if (item[0] in result):
      result[item[0]] = result[item[0]] + 1
    else:
      result[item[0]] = 1

  return result

In [254]:
def remove_only_one_time_appers(dic):
  return {x:y for x,y in dic.items() if y> 1}

In [255]:
def car_grouped_mix(key, value):
  aggrigated = remove_only_one_time_appers(Convert(value))
  return (key, aggrigated)

In [256]:
car_grouped_reduce = grouped.flatMap(lambda x: car_grouped_mix(x[0], x[1]))

In [257]:
car_grouped_reduce.collect()

[('D', 'F'),
 {('A', 'C'): 2},
 ('D', 'E'),
 {},
 ('A', 'B'),
 {('C', 'D'): 2},
 ('A', 'F'),
 {},
 ('B', 'F'),
 {},
 ('A', 'D'),
 {},
 ('B', 'D'),
 {},
 ('A', 'G'),
 {('C', 'F'): 2},
 ('B', 'G'),
 {},
 ('F', 'G'),
 {},
 ('D', 'G'),
 {},
 ('A', 'E'),
 {},
 ('B', 'E'),
 {},
 ('J', 'K'),
 {},
 ('A', 'H'),
 {},
 ('A', 'I'),
 {},
 ('G', 'H'),
 {},
 ('G', 'I'),
 {},
 ('H', 'I'),
 {},
 ('C', 'D'),
 {},
 ('C', 'F'),
 {},
 ('C', 'E'),
 {('B', 'D'): 2},
 ('A', 'C'),
 {},
 ('B', 'C'),
 {},
 ('B', 'J'),
 {},
 ('D', 'J'),
 {},
 ('B', 'K'),
 {},
 ('D', 'K'),
 {},
 ('C', 'G'),
 {},
 ('C', 'H'),
 {},
 ('C', 'I'),
 {}]

In [169]:
one = grouped.take(10)
print(one)

[(('A', 'B'), [(('C', 'F'), 1), (('C', 'D'), 1), (('C', 'G'), 1), (('C', 'D'), 1), (('D', 'E'), 1)]), (('A', 'F'), [(('C', 'D'), 1), (('C', 'G'), 1)]), (('A', 'D'), [(('C', 'G'), 1)]), (('B', 'F'), [(('C', 'D'), 1), (('C', 'G'), 1)]), (('B', 'D'), [(('C', 'G'), 1), (('E', 'J'), 1), (('E', 'K'), 1)]), (('D', 'F'), [(('C', 'G'), 1)]), (('A', 'G'), [(('F', 'H'), 1), (('F', 'I'), 1)]), (('A', 'H'), [(('F', 'I'), 1)]), (('G', 'H'), [(('F', 'I'), 1)]), (('C', 'D'), [(('A', 'F'), 1), (('B', 'E'), 1)])]

In [170]:
one_df = one[0][1]

In [171]:
print(list(one[0][1]))

[(('C', 'F'), 1), (('C', 'D'), 1), (('C', 'G'), 1), (('C', 'D'), 1), (('D', 'E'), 1)]