<a href="https://colab.research.google.com/github/sasansharifipour/Spark_Class/blob/main/Spark_SQL_View.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop2.7.tgz
!tar xf spark-3.0.1-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop2.7"

import findspark
findspark.init()

In [13]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("pySpark Sql basic example")\
        .getOrCreate()

To perform SQL operations in Spark, you will need to register your DataFrame as a View

In [14]:
df = spark.read.json('/content/spark-3.0.1-bin-hadoop2.7/examples/src/main/resources/people.json')
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [15]:
# Register the DataFrame as a SQL temporary view
# SQL temporary view
# SQL global temporary view

# Temporary views in spark SQL are session-scoped and will disappear if the session that creates it terminates.
df.createOrReplaceTempView("people")

sqlDF = spark.sql("SELECT * FROM people")
sqlDF.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [16]:

# Global temporary views in spark SQL keeps alive until the Spark application terminates.
#Global temprory view is tied to a system preserved database global_temp
df.createOrReplaceGlobalTempView("persons")

sqlDF_global = spark.sql("SELECT * FROM global_temp.persons")
sqlDF_global.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [17]:
spark.newSession().sql("SELECT * FROM people").show()

AnalysisException: ignored

In [18]:
spark.newSession().sql("SELECT * FROM global_temp.persons").show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [19]:
spark.stop()