<a href="https://colab.research.google.com/github/sasansharifipour/Spark_Class/blob/main/train_sheypoor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
file_download_link = "https://drive.google.com/u/0/uc?id=1K2a4mliN8l4aO1S8TWyn29EN25Y4WLlQ&export=download" 
!wget -O data.csv --no-check-certificate "$file_download_link"

--2021-05-19 05:13:10--  https://drive.google.com/u/0/uc?id=1K2a4mliN8l4aO1S8TWyn29EN25Y4WLlQ&export=download
Resolving drive.google.com (drive.google.com)... 142.250.141.102, 142.250.141.113, 142.250.141.100, ...
Connecting to drive.google.com (drive.google.com)|142.250.141.102|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0g-70-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/fdn927af9reg5v1e0e7usbb6qb6vnn39/1621401150000/14577798666193718332/*/1K2a4mliN8l4aO1S8TWyn29EN25Y4WLlQ?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-05-19 05:13:12--  https://doc-0g-70-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/fdn927af9reg5v1e0e7usbb6qb6vnn39/1621401150000/14577798666193718332/*/1K2a4mliN8l4aO1S8TWyn29EN25Y4WLlQ?e=download
Resolving doc-0g-70-docs.googleusercontent.com (doc-0g-70-docs.googleusercontent.com)... 142.250.141.132, 2607:f8b0:4023:c0b::84
Connecting to doc-0g-70-docs.googleusercontent.com (doc-0g-70-docs.googleusercontent.com)|142.250.141.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘data.csv’

data.csv                [    <=>             ]  18.12M  29.5MB/s    in 0.6s

2021-05-19 05:13:13 (29.5 MB/s) - ‘data.csv’ saved [19002465]

In [3]:
import pandas as pd

data = pd.read_csv('data.csv')

df = pd.DataFrame(data)

In [4]:
df.head()

   Unnamed: 0  ... count_views
0           0  ...           1
1           1  ...           1
2           2  ...           1
3           3  ...           1
4           4  ...           1

[5 rows x 7 columns]

In [8]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Unnamed: 0, userid, time, source, adstatus, item, count_views]
Index: []

In [11]:
df["adstatus"].value_counts()

ساعاتی پیش    48208
۱ روز پیش     18756
۱ هفته پیش    15165
دقایقی پیش    13422
لحظاتی پیش    12156
۲ روز پیش     11864
۲ هفته پیش    10335
۳ روز پیش      8621
۳ هفته پیش     7908
۴ روز پیش      6951
۵ روز پیش      5864
۶ روز پیش      4939
۴ هفته پیش     2446
۱ ماه پیش      1104
۲ ماه پیش       688
۷ ماه پیش       264
۳ ماه پیش       232
۴ ماه پیش       202
۱ سال پیش       172
۵ ماه پیش        84
۶ ماه پیش        38
۱۱ ماه پیش       25
۱۰ ماه پیش       24
۸ ماه پیش        24
۹ ماه پیش        23
Name: adstatus, dtype: int64

In [13]:
pd.get_dummies(df, columns=["item","adstatus", "source"]).head()

   Unnamed: 0  ... source_Chrome
0           0  ...             1
1           1  ...             1
2           2  ...             0
3           3  ...             0
4           4  ...             0

[5 rows x 34 columns]